body{
    background-color: #333;
    box-sizing: border-box;
}

.apresentacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.apresentacao-text{
    text-align: center;
    font-family: sans-serif;
    color: #fff;
}

.background-form{
    padding: 4em;
    border: 1px solid #fff;
    border-radius: 1em;
    background-color: rgb(7, 124, 32);
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.formulario label{
    font-family: sans-serif;
    color: #fff;
}

.formulario input{
    height: 2em;
    border-radius: 6px;
}

.formulario button{
    margin-top: 1em;
    padding: 7px;
    border: 1px solid;
    border-radius: 7px;
    font-family: sans-serif;
    background-color: #fff;
}

.formulario button:hover{
    background-color: #333;
    color: #fff;
}